body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.form-box {
  width: 100%;
  max-width: 400px;
  background-color: #f8f9fa;
}

.pass-icon{
  position: absolute;
  top: 25%;
  right: 12%;
  transform: translateY(10%);
  cursor: pointer;
}
.pass-icon-signup{
  position: absolute;
  top: 33%;
  right: 12%;
  transform: translateY(35%);
  cursor: pointer;
}